body{
  margin-left: 42.5%;
  margin-top: 8%;
  background-color: hsl(217, 54%, 11%);
}

.name{
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  color: white;
}

.promo{
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  color: hsl(215, 51%, 70%);
}

.price , .time{
  font-family: 'Outfit', sans-serif;
  width: 40%;
}

.price{
  text-align: left;
  color: hsl(178, 100%, 50%);
}

.time{
  margin-left: 55%;
  color: hsl(215, 51%, 70%);
}

.credit{
  font-family: 'Outfit', sans-serif;
  color: hsl(215, 51%, 70%);
}

.credit span{
  color: white;
}

.prof{
  border-radius: 5%;
}

.whole{
  width: 230px;
  padding: 3%;
  height: 440px;
  border-radius: 5%;
  background-color: hsl(216, 50%, 16%);

}
